<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <title><%=title %></title>
</head>
<body>
    <div class="uk-container">
        <main>
            <form name="editForm" class="uk-form-stacked" method="post" action="/edit">
                <div class="uk-margin">
                    <label class="uk-form-label" for="name">name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" name="name" id="name" value="<%=name%>" required />
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="limitDay">limitDay</label>
                    <div class="uk-form-controls">
                        <input type="date" name="limitDay" id="limitDay" value="<%=limit_day%>" required />
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="place">place</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" name="place" id="place" value="<%=place%>" />
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="memo">memo</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" name="memo" id="memo" value="<%=memo%>" />
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="category">category</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" name="category" id="category" value="<%=category%>" />
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="image">image</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" name="imageUrl" id="image" value="<%=image_url%>" />
                    </div>
                </div>

                <input type="hidden" name="userId" />
                <button class="uk-button uk-button-primary" type="button" name="add">追加する</button>
            </form>
        </main>
    </div>

    <script type="text/javascript" src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script type="text/javascript" src="/js/liff-edit.js"></script>
</body>
</html>
